#AboutBanner {
  width: 100%;
  height: 60vh;
  position: relative;
  background: #eaf2ff;
}

#AboutBanner::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: auto;
  bottom: -35px;
  left: -40px;
  right: 0px;
  pointer-events: none;
  background: url(../../static/img/aboutUs.png) no-repeat;
  background-position: right;
  background-size: auto 86%;
}

#AboutBanner .container-fluid {
  display: flex;
  align-items: center;
  height: 100%;
}

#AboutBanner .container-fluid h2 {
  color: #413e66;
  margin: 150px 0px 0px 20px;
  font-size: 40px;
  font-weight: 700;
}

#AboutBanner .container-fluid h2 span {
  display: block;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0 2px;
}

@media (max-width: 700px) {
  #AboutBanner {
    height: 30vh;
    padding-bottom: 10px;
  }
}
