.OP_BannerPRIVACY {
  width: 100%;
  height: 60vh;
  position: relative;
  background: #eaf2ff;
}

.OP_BannerPRIVACY::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: auto;
  bottom: -40px;
  left: -60px;
  right: 0px;
  pointer-events: none;
  background: url(../../static/img/terms.svg) no-repeat;
  background-position: right;
  background-size: auto 80%;
}

.OP_BannerPRIVACY .container-fluid {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.OP_BannerPRIVACY .container-fluid h2 {
  color: #413e66;
  margin: 0px 0px 50px 20px;
  font-size: 40px;
  font-weight: 700;
}

.OP_BannerPRIVACY .container-fluid h2 span {
  display: block;
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0px 2px;
}

@media (max-width: 700px) {
  .OP_BannerPRIVACY {
    height: 30vh;
  }
}
